<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FNBioscoop">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RingkasanPesananActivity" />
        <activity android:name=".PembayaranActivity" />
        <activity android:name=".DetailPembayaranActivity" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".AdminLoginActivity" android:exported="false" />
        <activity android:name=".AdminStokActivity" android:exported="false" />
        <activity android:name=".RiwayatActivity" android:exported="false" />
    </application>

</manifest>
